
firebase-inappmessaging
firebase-inappmessaging:ktx
firebase-inappmessaging-display
firebase-inappmessaging-display:ktx
protolite-well-known-types

integ-testing

tools:lint

# Test Apps
# disabled since they require google-services.json to build which is not always available in CI.
# If needed for development, uncomment but don't submit

#firebase-storage:test-app
#appcheck:firebase-appcheck:test-app
#firebase-appdistribution:test-app
